<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>
      {% block title %}{% endblock %} - My Learning Journal
  </title>
  <meta name="description"
        content="Ben Petty's personal learning journal."
        >
  <meta name="author"
        content="Benjamin S. Petty"
        >

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport"
        content="width=device-width, initial-scale=1"
        >

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{ request.static_url('learning_journal:static/diist/js/jquery.js') }}"></script>

  <script> var _386 = { onePass: true, speedFactor: 3.25 };</script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ request.static_url('learning_journal:static/bootstrap/css/bootstrap.css') }}"
        rel="stylesheet"
        >
  <link href="{{ request.static_url('learning_journal:static/bootstrap/css/bootstrap-responsive.css') }}"
        rel="stylesheet"
        >
  <link href="{{ request.static_url('learning_journal:static/bootstrap/css/custom.css') }}"
        rel="stylesheet"
        >
  <link href="{{ request.static_url('learning_journal:static/diist/css/docs.css') }}"
        rel="stylesheet"
        >
  <link href="{{ request.static_url('learning_journal:static/diist/js/google-code-prettify/prettify.css') }}"
        rel="stylesheet"
        >
    
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link 
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ request.static_url('learning_journal:static/apple-touch-icon.png') }}"
    >

  <link
    rel="icon"
    type="image/png"
    href="{{ request.static_url('learning_journal:static/favicon-32x32.png') }}"
    sizes="32x32"
    >

  <link
    rel="icon"
    type="image/png"
    href="{{ request.static_url('learning_journal:static/favicon-16x16.png') }}"
    sizes="16x16"
    >

  <link
    rel="manifest"
    href="{{ request.static_url('learning_journal:static/manifest.json') }}"
    >

  <link
    rel="mask-icon"
    href="{{ request.static_url('learning_journal:static/safari-pinned-tab.svg') }}"
    color="#5bbad5"
    >

  <meta name="theme-color" content="#ffffff">
  </head>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <body data-spy="scroll" data-target=".bs-docs-sidebar">

  {# ------- NAV ------ #}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">

      <a
        href="{{ request.route_url('home') }}" 
        class="brand"
        > Learning Journal </a>

      {% if request.authenticated_userid %}
        {% if user.author %}
          <a
            href="{{ request.route_url('create') }}"
            class="brand"
            > New Entry </a>
        {% endif %}

        <a 
          href="{{ request.route_url('logout') }}" 
          class="brand"
          > Logout </a>

      {% else %}
        <a 
          href="{{ request.route_url('login') }}"
          class="brand"
          > Login </a>
      {% endif %}

      {% if user %}
        {% if user.admin %}
        <a
          href="{{ request.route_url('users') }}"
          class="brand"
          > Admin: Users </a>
        {% endif %}
      {% endif %}

    </div>
  </nav>

  <div class="container logged-in">
    {% if request.authenticated_userid %}
      <br /> &#62; Logged in as 
      <a  href="{{ request.route_url('profile', username=request.authenticated_userid) }}"
          >{{ request.authenticated_userid }}</a>
    {% endif %}
  </div>

  {# ------ BODY CONTENT ----- #}
  <div id="main" class="container centered">
    <div class="row">
      <div class="col-lg-12">

        {% block body %}{% endblock %}

      </div>
    </div>
  </div>

  <footer id="footer">
    {% block footer %}
    &copy; Copyright 2017 <a href="http://benpetty.me" target="_blank">Benjamin S. Petty</a>.
    {% endblock %}
  </footer>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script>
    $(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
        });
    });
    </script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-386.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-transition.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-alert.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-modal.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-scrollspy.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-tab.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-popover.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-button.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-carousel.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-typeahead.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/bootstrap-affix.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/holder/holder.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/google-code-prettify/prettify.js') }}"></script>
    <script src="{{ request.static_url('learning_journal:static/diist/js/application.js') }}"></script>

</body>
</html>