{% extends "base.jinja2" %}
{% block title %}Delete {{ jentry.id }}{% endblock %}

{% block body %}
<div class="form-signin">
  <h1>Delete "<a href="/journal/{{ jentry.id }}">{{ jentry.title }}</a>"?</h1>
  <p>This action cannot be undone.</p>

  <div>
    <a 
      href="{{ request.route_url('delete_forever', id=jentry.id) }}"
      class="btn btn-large btn-danger"
      >DELETE FOREVER
    </a>

    <a
      href="{{ request.route_url('detail', id=jentry.id) }}"
      class="btn btn-large btn-primary"
      >CANCEL
    </a>
  </div>

</div>
{% endblock %}
