{# TODO: #}
{% extends "layout.jinja2" %}
{% block title %}Benny's Learning Journal - Entry {{ jentry.id }}{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="full column" style="margin-top: 25%; margin-bottom: 25%">
      <h1>Are you sure you want to delete "{{ jentry.title }}"?
      <p>
        <a class="button" href="{{ request.route_url('delete_forever', id=jentry.id) }}">
        DELETE FOREVER
        </a>
      </p>
      <h4>{{ jentry.title }}</h4>
      <p>Created {{ jentry.created }}</p>
      <p>Last modified {{ jentry.modified }}</p>
      <p>{{ jentry.content }}</p>
      <a class="button" href="{{ request.route_url('update', id=jentry.id) }}">Edit</a>
    </div>
  </div>
</div>
{% endblock %}