{% extends "base.jinja2" %}
{% block title %}{{ jentry.title }}{% endblock %}

{% block body %}
<h1>{{ jentry.title }}</h1>
<p>
  Author:
  <a href="/profile/{{ author.username }}"
    >{{ author.firstname }} {{ author.lastname }}
  </a>
  <br />Created — {{ jentry.created.strftime('%A, %B %d, %Y  at %-I:%M %p') }}
    
  {% if jentry.created != jentry.modified %}
    <br />Last modified — {{ jentry.modified.strftime('%A, %B %d, %Y  at %-I:%M %p') }}
  {% endif %}

  <br />Category — {{ jentry.category }}
</p>

<hr>
<p>{{ jentry.contentr }}</p>
<hr>

{% if user.username == jentry.author_username or user.admin %}
  <a 
    href="{{ request.route_url('update', id=jentry.id) }}"
    class="btn btn-large btn-primary"
    >Edit
  </a>
  <a
    href="{{ request.route_url('delete', id=jentry.id) }}"
    class="btn btn-large btn-primary"
    >Delete
  </a>
{% endif %}

{% endblock %}
