{% extends "base.jinja2" %}

{% block title %}Users{% endblock %}

{% block body %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Real Name</th>
      <th>Email</th>
      <th>ACL</th>
    </tr>
  </thead>
  <tbody>

    {% for user in users %}
      {% if user.admin %}
        <tr
          class="clickable-row"
          data-href="{{ request.route_url('profile', username=user.username) }}"
          >
          <td>
            <b><a href="{{ request.route_url('profile', username=user.username) }}"
            >{{ user.username }}
            </a></b>
          </td>
          <td><b>{{ user.firstname }} {{ user.lastname }}</b></td>
          <td><b>{{ user.email }}</b></td>
          <td><b>Admin</b></td>
        </tr>
      {% endif %}
    {% endfor %}

    {% for user in users %}
      {% if not user.admin and user.author %}
        <tr>
          <td>
            <a href="{{ request.route_url('profile', username=user.username) }}">
              {{ user.username }}
            </a>
          </td>
          <td>{{ user.firstname }} {{ user.lastname }}</td>
          <td>{{ user.email }}</td></b>
          <td>Author</td>
        </tr>
      {% endif %}
    {% endfor %}

    {% for user in users %}
      {% if not user.admin and not user.author %}
        <tr>
          <td>
            <a href="{{ request.route_url('profile', username=user.username) }}">
              {{ user.username }}
            </a>
          </td>
          <td>{{ user.firstname }} {{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td>User</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<a 
  href="{{ request.route_url('admin_register')}}" 
  class="btn btn-large btn-primary"
  >Create User Account
</a>

{% endblock %}
